@charset "UTF-8";
/* CSS Document */

main h1 {
	font-size: 40px;
	margin-top: 20px;
}

main img {
	width: 500px;
	hight: auto;
	margin-top: 10px;
	float: left;
}

main p {
	float: left;
	width: 500px;
	margin: 0 20px 20px 30px;
	text-align: justify;
	font-size: 20px;
}