 @charset "UTF-8";
/* CSS Document */

.project {
	height: auto;
	width: 860px;
	overflow: hidden;
	border: medium solid black;
	float: left;
}

.project h1 {
	margin-left: 1%;
	font-size:40px;
}

.project h2 {
	margin-left: 1%;
	font-size:25px;
}

.project p {
	margin: 10px 1%;
	font-size:20px;
}

.project p a {
	font-style: italic;
}

.project iframe {
	width:850px;
	height:478px;
	margin: 0 5px;
}

.nivoSlider {
	height: auto;
}