@charset "UTF-8";
/* CSS Document */

.spbox {
	width: 100%;
	float: left;
}

.spbox a:link, a:visited {
	color: black;
	background-color: white;
}

.spbox a:hover, a:active {
	color: white;
	background-color: black;/*Figure out*/
}

.smallportfolio {
	width: 460px;
	height: auto;
	float: left;
	margin: 10px 20px 0 0;
	border: medium solid black;
}

.smallportfolio h1 {
	font-size: 20px;
	margin-left: 5px;
}

.smallportfolio img {
	width: 100%;
	height: auto;
	margin: 0 0 5px 0;
}

.smallportfolio iframe {
	width: 460px;
	height: 259px;
	margin: 0 0 0 0;
}