@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

@import url('https://rsms.me/inter/inter.css'); @supports (font-variation-settings: normal); 
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

html { 
	font-family: 'Inter', sans-serif; 
} 

body {
	width: 1024px;
	margin: 0 24% 0 24%;
	background-image: url("../img/wood_background1.jpg");
}

#wrapper {
    height: 535px;
}

header {
	width: 100%;
	height: auto;
}

#logo {
	margin-left: 1%;
	/*margin-top: 30px;*/
    font-family: 'Oswald', sans-serif;
    width: 49%;
}

#logo h1 {
    font-size: 32px;
}

#logo h2 {
    font-size: 40px;
    color: red;
}

#logo h3 {
    font-size: 21px;
}

nav {
	margin-right: 30px;
	/*margin-top: 30px;*/
    font-size: 25px;
    width: 49%;
    float: right;
}

ul.mainnav {
	float: right;
	list-style-type: none;
}

ul.mainnav li {
	float: left;
	margin: 15px 15px 0 0;
}

nav h1 {
	color: red;
    font-size: 20px;
}

nav h2 {
	font-size: 20px;
}

 a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

 a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

 a:hover {
  color: yellow;
  background-color: black;
  text-decoration: none;
}

 a:active {
  color: red;
  background-color: black;
  text-decoration: none;
}

h5 {
    font-size: 30px;
	margin-left: 1%;
    margin-top: 15px;
}

#entree {
    float: left;
    width: 74%;
	height: auto;
}

main {
    height: auto;
}

main h1 {
    font-size: 22px;
}

main h2 {
    font-size: 18px;
}

main h3 {
    font-size: 17px;
    color: red;
}

main h4 {
    font-size: 15px;
}

#burgers {
    width: 30%;
	margin: 0 1.5% 0 1.5%;
    float: left;
	background-color: rgba(255,255,255,0.50);
}

#dogs {
    width: 30%;
	margin: 0 1.5% 0 1.5%;
    float: left;
	background-color: rgba(255,255,255,0.50);
}

#sandwich {
    width: 30%;
	margin: 0 1.5% 0 1.5%;
    float: left;
	background-color: rgba(255,255,255,0.50);
}

#fries {
	float: left;
	width: 24%;
	background-color: rgba(255,255,255,0.50);
}

#topings {
	margin-top: 10px;
	width: 25%;
	background-color: rgba(255,255,255,0.50);
	float: left;
}

ul {
    list-style-type: none;
    font-size: 16px;
} 

footer {
    float: left;
    width: 100%;
    margin-left: 15px;
}

#icons {
    margin-top: 15px;
    float: right;
}

#icons img {
    width: 30px;
    height: 30px;
    margin: 0 15px 0 15px;
    float: right;
}
